body {
  font-family: 'Urbanist', sans-serif;
  margin: 0;
  transition: all 0.5s ease;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.top-left {
  cursor: pointer;
  font-size: 16px;
}

.top-center {
  text-align: center;
  font-size: 16px;
}

.top-right {
  display: flex;
  justify-content: flex-end;
}

.top-right a {
  text-decoration: none;
  color: inherit;
  margin: 0 10px;
}

.top-right a:hover {
  text-decoration: underline;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 140px;
  font-family: 'Urbanist', sans-serif;
  margin: 0;
}

.intro {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  margin: 20px 0;
}

.content-text {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  margin: 20px 0;
}

.location {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0;
}

.social-landing {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.social-landing a {
  text-decoration: none;
  color: inherit;
  margin: 0 5px;
}

.social-landing a:hover {
  text-decoration: underline;
}

/* Projects Section */
#projects {
  padding: 50px 0; /* Spacing above and below the section */
}

.projects-title {
  font-size: 80px;
  font-family: 'Urbanist', sans-serif;
}

.projects-subtitle {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.project {
  padding-left: 10%;
}

.project-year-tech {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px; /* Space between the date/tech and the title */
}

.project-title {
  font-size: 40px; /* Larger font size for the project title */
  font-family: 'Urbanist', sans-serif;
  margin-top: 0;
  font-weight: bolder;
  margin-bottom: 10px; /* Space between the title and the description */
}

.project-description {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  margin-bottom: 20px; /* Space between the description and the image section */
}

img.img-fluid {
  max-width: 100%; /* Ensure the image is responsive and fits its container */
  height: auto;
}

@media (max-width: 768px) {
  h1 {
    font-size: 12vw;
  }

  .intro {
    font-size: 5vw;
  }

  .content-text, .location {
    font-size: 3vw;
  }

  .projects-title {
    font-size: 12vw;
  }

  .projects-subtitle {
    font-size: 4vw;
  }
}

.theme1 { background-color: #EDE8E4; color: #252525; }
.theme2 { background-color: #3668ae; color: #ffcbdb; }
.theme3 { background-color: #2a3127; color: #d6ebfc; }
.theme4 { background-color: #252525; color: #EDE8E4; }
